a {
  color: var(--fg);
  text-decoration: none;
}
a:hover {
  color: var(--fg-out);
  text-decoration: underline;
}
input, button {
  color: var(--fg);
  border: 0;
  border-radius: 50px; 
  padding: var(--pad-in);
  margin: 0;
}
input {
  background: var(--bg-in);
  border-bottom: 1px solid var(--bg-out);
}
button {
  background: var(--bg-out);
  border-top: 1px solid var(--bg-high);
  border-bottom: 1px solid var(--bg-low);
  cursor: pointer;
  transition: transform 0.1s;
}
input:focus,button:focus {
  outline: none;
}
textarea {
  width: 100%;
  height: 500px;
  background: var(--bg-low);
  color: var(--fg);
  border: 1px solid var(--bg-out);
}
