:root {
  --font-size: 18px;
  --pad-sm: 10px;
  --pad: 20px;
  --gap: 40px;
  --gap-xl: 80px;
  --pad-in: 10px 20px;
  --bg: #111;
  --bg-in: #080808;
  --bg-out: #1a1a1a;
  --bg-high: #333;
  --bg-low: #030303;
  --fg: #eee;
  --fg-in: #888;
  --fg-out: #fff;
  --desktop: 960px;
}
@media (max-width: 720px) {
  :root {
    font-size: 14px;
  }
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var(--fg);
  background: var(--bg);
  font:
    var(--font-size)/1.5 Inter,
    sans-serif;
  text-rendering: optimizeLegibility;
  font-smoothing: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#gallery {
  position: relative;
}
#gallery ul {
  width: 100%;
  min-height: calc(100% / 1.5);
}
#gallery ul li {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  margin: 0;
}
.title:hover {
  text-decoration: none;
}
.title > h1 {
  background: rgba(0, 0, 0, 0.6)
    url(https://picsum.photos/seed/background/3000/1000) no-repeat;
  background-position: center;
  background-blend-mode: darken;
  background-size: 100% auto;
  color: white;
  font-size: 4rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
  container: h / inline-size;
  display: flex;
  justify-content: center;
  height: 300px;
  align-items: center;
}
@media (max-width: 960px) {
  .title > h1 {
    font-size: 3rem;
    height: 150px;
    background-size: cover;
  }
}
h2 {
  font-size: 2rem;
}
address {
  font-style: normal;
}
p,
h2,
ul,
dt,
dd {
  margin-bottom: var(--pad);
}
dt {
  font-weight: bold;
}
dd {
  margin-left: var(--pad);
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: var(--pad);
  align-items: start;
  padding: var(--gap) var(--pad);
}
ul img {
  display: none;
}
ul img.shown {
  display: block;
}
.buttons {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 0 var(--pad);
  display: flex;
  justify-content: space-between;
}
.buttons button {
  border: none;
  padding: 5px 12px;
  color: white;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.wrapper {
  max-width: 960px;
  min-height: calc(100vh - 300px);
  margin: 0 auto;
}
#login form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--pad);
  max-width: 400px;
  margin: 0 auto;
}
#login form > input {
  grid-column: 1 / 4;
}
#login form > button {
  grid-column: 3 / 4;
}
main {
  padding: var(--gap) var(--pad);
}
